.DS_Store
dist
node_modules

# Specific file(s) to ignore
.eslintrc.cjs
package.json
tsconfig.json
vite.config.js
vite.config.ts

# Ignore local backup
*.backup.*

# Ignore files for NPM
package-lock.json
